{{> header text='Hello!' }}
<p>
   You have been invited to join the organization "{{ organization_name }}" by {{ inviter_last_name }} {{ inviter_first_name }}. To join the organization click the link below.
</p>

<p>
    {{> button button_url=organization_invite_url button_text='Join organization' }}
</p>

<p>If you do not wish to join this organization, then this email can safely be ignored.</p>

{{> footer }}<br>

{{> hr }}
<div style="font-size:90%">
    <p>I want to unsubscribe from these invite emails.</p>
    <p>
        If you wish to block future invites to join <b>this organization</b>, then click this link: {{> link link_url=organization_block_invites_url link_text='Block invites from this org' }}<br>
        If you wish to block invites from <b>all organizations</b>, then click this link: {{> link link_url=block_all_invites_url link_text='Block all invites' }}
    </p> 
    <p style="margin-top:15px;">Note that these two links above are only valid for 5 days. However, you have the option to block org invitations in your user settings and additionally remove the block if needed.</p>
</div>
