{{> header text='Hello!' }}
<p>
   You have been invited to join the organization "{{ organization_name }}" on CodeClarity by {{ inviter_last_name }} {{ inviter_first_name }}. To join the organization, and create an account, click the link below.
</p>

<p>
    {{> button button_url=organization_invite_url button_text='Join organization' }}
</p>

<p style="margin-top:15px;">If you do not wish to use the CodeClarity platform and join this organization, then this email can safely be ignored.</p>
{{> footer }}<br>

{{> hr }}
<div style="font-size:90%">
    <p>I do not wish to receive further emails from CodeClarity: {{> link link_url=block_email_url link_text='Block all emails from CodeClarity' }}</p>
    <p style="margin-top:15px;">Note that the link above is only valid for 30 days.</p>
</div>