{{> header text='Hello!' }}
<p>
   To reset your password click on the link below. Please note that this link will expire within 5 minutes.
</p>
<p>
    {{> button button_url=reset_password_url button_text='Reset password' }}
</p>
<p style="margin-top:15px;">If you did not issue a password reset, then this email can safely be ignored.</p>
{{> footer }}