{{> header text='Welcome to Parithera!' }}
<p>
    You have succesfully created your Parithera account, great to have you onboard!<br>
    Before you can start to use our platform you must activate your account by clicking the link below.<br>
    Please note that this link will expire within 30 minutes. But you can re-send the email by trying to login.
</p>
<p>
    {{> button button_url=confirmation_url button_text='Activate account' }}
</p>
<p style="margin-top:15px;">If you did not create an account, then this email can safely be ignored.</p>
{{> footer }}