<p style="margin-top:15px;">
    Have a nice day,<br>
    Your Parithera team
</p>

<p style="font-size:80%;margin-top:20px;">
    Sent from <a href="https://platform.parithera.com" style="color:teal">platform.parithera.com</a>
</p>